@page
@model RecruitCatZinkjo.Pages.OurTeamModel
@{
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Meet Our Team</h1>
        <p class="lead text-muted">Meet our highly qualified and energetic team that is ready to send you home with the coolest items at the best price.</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQH4lnGckEqpOg/profile-displayphoto-shrink_800_800/0/1602529607841?e=1699488000&v=beta&t=R59WVUWqhDuPRFTg5NtFSFwiZBOBPsy53q3D5RRd1Go" />
                    <div class="card-body">
                        <p class="card-text">Hi, I am Jameson. Currently, I am a Quality Assurance Analyst at Data Cloud Solutions and a full-time graduate student at the University of Cincinnati pursuing a Masters of Science in Information Systems. I graduated Cum Laude from Ohio University with a Bachelor of Business in Management Information Systems, Business Analytics, and Marketing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://pbs.twimg.com/media/Ee-GRSuXkAA-3Er.jpg:large" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is an AI generated employee, and his name is Brad. Brad likes working and helping people.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://vicharkness.co.uk/wp-content/uploads/2019/03/aiface.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is an AI generated employee, and his name is Steve. Steve likes helping people and working.</p>
                    </div>
                </div>
            </div>
