@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="Candidates\Index">Candidates</a>
    <a href="Companies\Index">Companies</a>
    <a href="Industries\Index">Industries</a>
    <a href="JobTitles\Index">Job Titles</a>
</div>
